DATABASE_URL=mysql://root:root@localhost:3307/oldtimer
XRPL_NODE_URL=https://s.altnet.rippletest.net:51234
# XRPL_NODE_URL=https://xrplcluster.com
# XRPL_NODE_URL=https://s1.ripple.com:51234
XRPL_SEED=sEd...
# XRPL_BASE_URL=https://xrpl.oldtimersoffer.com
XRPL_BASE_URL=http://127.0.0.1:4000
XRPL_API_KEY=super_secret_long_random_string_123
NFT_PASSPORT_IMAGE=https://images.oldtimersoffer.com/nft/passport.png